@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }

  .mainImg-container img {
    width: 30%;
    height: 30vh;
    object-fit: cover;
  }

  .menu {
    padding: 25px 50px;
    font-size: 15px;
  }

  .order {
    padding: 25px 50px;
    font-size: 15px;
  }

  .banner-socials {
    font-size: 30px;
  }

  .icon-banner {
    font-size: 30px;
  }

  .icon-banner i {
    font-size: 30px;
  }

  .best-Seller {
    height: 25vh;
  }

  #pizza {
    height: 110vh;
  }

  #pizza h4 {
    margin-top: 60px;
  }

  #btns {
    padding: 0px 0 0 560px;
  }

  .fil-p {
    padding: 15px 50px;
    font-size: 20px;
  }

  #root {
    display: grid;
    grid-template-columns: repeat(4, 8fr);
    gap: 20px;
  }

  #root .images {
    margin: 0 0 0 100px;
  }

  #root .box:nth-child(1) .images {
    height: 20vh;
  }

  #root .box:nth-child(3) .images {
    height: 15vh;
    margin: 50px 0 0 100px;
  }

  #root .box:nth-child(5) .images {
    height: 18vh;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
  }

  #menu {
    height: 140vh;
    width: 100%;
  }

  #contact {
    height: 120vh;
  }

  #contact h2 {
    font-size: 35px;
  }

  #contact h3 {
    font-size: 40px;
    margin-left: 50px;
  }

  #contact h1 {
    font-size: 80px;
    margin-left: 50px;
    margin-top: 20px;
  }

  #contact p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
  }

  .contactBtn {
    margin-left: 50px;
  }

  .bookTbl {
    display: flex;
    padding-top: 100px;
  }

  form {
    margin: 55px;
    margin-top: -100px;
    margin-left: 800px;
  }

  form #name {
    height: 50px;
    width: 70%;
    margin-top: 20px;
    padding: 0px 20px;
  }

  form #email {
    height: 50px;
    width: 70%;
    margin-top: 20px;
    padding: 0px 20px;
  }

  form #persons {
    height: 50px;
    width: 70%;
    margin-top: 20px;
    padding: 0px 20px 0 20px;
  }

  form #date {
    height: 50px;
    width: 70%;
    margin-top: 20px;
    padding: 0px 20px;
  }

  .bookNow {
    margin-left: 1050px;
  }

  .bestChef {
    height: 80vh;
  }

  .bestChef .title {
    margin-top: 80px;
  }

  .bestChef h1 {
    font-size: 50px;
    margin-top: 20px;
  }

  .person-list,
  .person-item {
    height: 45vh;
  }

  .person-list .person-image {
    width: 100%;
    max-height: 300px;
    aspect-ratio: 8/9;
    object-fit: cover;
    border-radius: 10px;
  }

  .about-image {
    height: 80vh;
    width: 25%;
    margin: -580px 0 0 1250px;
    display: flex;
  }

  .about-more {
    margin-top: 150px;
    margin-left: 700px;
    padding: 30px 60px;
  }

  .about h2 {
    padding-top: 100px;
    margin-right: 70%;
    color: var(--neutral);
    font-size: 40px;
  }

  .about h1 {
    color: var(--superdark);
    text-align: center;
    font-size: 70px;
    margin-top: 70px;
    margin-right: 50%;
  }

  .p-about {
    text-align: center;
    margin: 70px 50% 0 5%;
  }
}
