@media (min-width: 620px) {
  .best-Seller {
    height: 20vh;
  }

  .best-Seller h3 {
    margin: 10px 30px;
  }

  #menu {
    height: 220vh;
    width: 100%;
  }

  #menu p {
    color: var(--neutral);
    text-align: center;
    margin: -10px 15px;
  }

  #menu h2 {
    margin: 50px;
  }

  #btns {
    padding: 0px 0 0 85px;
  }

  #root {
    gap: 20px;
  }

  .box {
    padding: 35px;
  }

  .bottom {
    margin-bottom: -30px;
  }

  #root .box:nth-child(3) .images {
    margin: 30px 0 30px 10px;
  }

  #contact h2 {
    font-size: 25px;
  }

  #contact h3 {
    font-size: 20px;
  }

  #contact h1 {
    font-size: 40px;
  }

  .bookNow {
    margin-left: 190px;
  }

  .about {
    height: 100vh;
    width: 100%;
    background-color: var(--superlight);
  }

  .about-more {
    margin-left: 220px;
  }

  .about-image {
    width: 40%;
  }
}
