@media (min-width: 960px) {
  body {
    font-size: 18px;
  }

  .best-Seller {
    height: 20vh;
    margin: 20px 40px;
  }

  #pizza {
    height: 180vh;
  }
  #menu {
    height: 175vh;
  }

  #menu p {
    margin: -10px 50px 40px 50px;
  }

  #btns {
    padding-left: 260px;
  }

  #root {
    display: grid;
    grid-template-columns: repeat(3, 7fr);
  }

  #root .box:nth-child(3) .images {
    margin: 30px 0 30px 10px;
  }

  #contact h2 {
    font-size: 30px;
  }

  #contact h3 {
    font-size: 30px;
  }

  #contact h1 {
    font-size: 50px;
  }

  .bookNow {
    margin-left: 350px;
  }

  .about-more {
    margin-left: 370px;
  }
  .about-image {
    height: 50vh;
    width: 30%;
    margin-left: 320px;
  }
}
