@media (min-width: 720px) {
  #pizza {
    height: 180vh;
  }

  #root {
    display: grid;
    grid-template-columns: repeat(2, 8fr);
  }

  #menu {
    height: 240vh;
  }

  #root .box:nth-child(1) {
    margin: 10px 0 10px 10px;
  }

  #menu p {
    margin: 50px;
  }

  #btns {
    padding: 0px 140px;
  }

  .box {
    padding: 60px;
  }

  .bookNow {
    margin-left: 230px;
  }

  .about-more {
    margin-left: 250px;
  }

  .about-image {
    height: 50vh;
    margin-left: 220px;
  }
}
