:root {
  --superlight: #fff;
  --neutral: #f2b05e;
  --dark: #a62103;
  --superdark: #031323;
}

@media screen and (min-width: 452px) {
  body {
    width: 100%;
  }

  .icon-banner {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  #pizza {
    margin-top: 50px;
    height: 325vh;
  }

  #menu {
    height: 215vh;
  }

  #menu p {
    margin-top: -20px;
  }

  #btns {
    height: 10px;
    width: 80%;
    gap: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  #contact {
    height: 125vh;
  }

  .bookNow {
    margin-left: 120px;
  }

  .reviews .slideshow-container {
    width: 85vw;
  }

  .about {
    height: 110vh;
  }

  .about-more {
    margin-left: 130px;
  }

  .about-image {
    margin-left: 120px;
  }
}

@media (min-width: 720px) {
  #pizza {
    height: 180vh;
  }

  #root {
    display: grid;
    grid-template-columns: repeat(2, 8fr);
  }

  #menu {
    height: 240vh;
  }

  #root .box:nth-child(1) {
    margin: 10px 0 10px 10px;
  }

  #menu p {
    margin: 50px;
  }

  #btns {
    padding: 0px 140px;
  }

  .box {
    padding: 60px;
  }

  .bookNow {
    margin-left: 230px;
  }

  .about-more {
    margin-left: 250px;
  }

  .about-image {
    height: 50vh;
    margin-left: 220px;
  }
}
